<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Meds</title>
</head>

<body>
	<h1>Form to Add Meds</h1>
	
	<form action="/meds/add" method="post">
		<input type="text" name="name" placeholder="medicine name" />
		<input type="text" name="count" placeholder="amount" />
		<input type="text" name="brand" placeholder="brand" />
		<button type="submit">Add</button>
	</form>
</body>

</html>